# data science
numpy==1.26.4
pandas==2.2.3

# Uncomment if you use sklearn
scikit-learn==1.7.0

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
# tensorflow==2.16.2    # For both Intel and Apple silicon
# keras==3.8.0

# Google Cloud
# Uncomment if you use Google Cloud Storage
# google-cloud-storage

# API
fastapi==0.115.13
uvicorn==0.34.3

# Web
streamlit==1.46.0

# RoboFlow
roboflow==1.1.66

# SAM
segment-anything==1.0
torch==2.7.1
torchvision==0.22.1
opencv-python==4.11.0.86

# Images
pillow==11.2.1

requests==2.32.4
requests-cache==1.2.1
