# data science
numpy<2.0.0
pandas==2.2.3
scikit-learn==1.6.1

# Google Cloud
# Uncomment if you use Google Cloud Storage
# google-cloud-storage

# API
fastapi
uvicorn

# Web
streamlit

# RoboFlow
roboflow

# SAM
segment_anything
torch
torchvision
opencv-python

# Images
Pillow>=10.0.0

# Requests
requests
requests_cache
